<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<h2 ALIGN="CENTER">Login form</h2>
<form action="" method="post">
    <table border="0" align="center">
        <tbody>
        <form action="login.py" method="get">
            <tr>
            <td><label for="username">username:</label></td>
            <td><input id="username" maxlength="50" name="username" type="text" /></td>
            </tr>

            <tr>
            <td><label for="password">password:</label></td>
            <td><input id="password" maxlength="50" name="password"
            type="password" /></td>
            </tr>

            <tr>
             <td align="left"><input name="Submit" type="submit" value="Login" /></td>
                <td>     <a href="reset_request" id="forgot">Forgot Password?</a></td>
                <td><a href="register" id="Registration">Register?</a></td>


        </form>
        </tbody>
    </table>

</form>

 </html>