<form id="forgot-password-form" action="reset_request" class="text-left" method="post">
    <p>Fill the Registered Email_Id for resetting the password  </p>
    <label for="fp_email" class="sr-only">Email address</label>
    <input type="text" class="form-control" id="fp_email" name="email_id" placeholder="email address">
    <input type="submit" value="submit">
<!--   <tr> <td align="left"><input name="Submit" type="submit" value="Done" /></td>-->
     <td><a href="login" id="Registration">Login?</a></td></tr>
</form>
